<div class="center hero-unit">
<h1>Welcome to the Sample App</h1>
<p>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>
<div class="btn btn-large btn-primary"> 
<%= link_to "Sign Up Now",'#'%>
</div>
</div>
<%= link_to image_tag("rails.png") %>
